*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    min-height: 100vh;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);

    color: white;
    padding-top: 90px;
}
.navbar {
    width: 100%;
    padding: 20px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

.logo-img {
    width: 120px;
}


/* =========================
   MENU
========================= */

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00f2ff;
}

.container{
    margin: 0 auto;
}

header{
    text-align: center;
    margin-bottom: 30px;
}

header h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p{
    opacity: 0.7;
}


/* CARDS LADO A LADO */
.produtos{
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

    gap: 20px;
}


.card{
    background: rgba(255,255,255,0.08);

    border-radius: 15px;

    padding: 20px;

    text-align: center;

    transition: 0.3s;

    position: relative;

    overflow: hidden;
}


.card::before{
    content: "";

    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: -100%;

    background: linear-gradient(
        120deg,
        transparent,
        rgba(255,255,255,0.2),
        transparent
    );

    transition: 0.5s;
}

.card:hover::before{
    left: 100%;
}

.card:hover{
    transform: translateY(-10px) scale(1.03);

    box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}


.card img{
    width: 100%;
    height: 250px;

    object-fit: cover;

    border-radius: 10px;

    margin-bottom: 15px;
}


.card h3{
    margin-bottom: 10px;

    font-size: 1.3rem;
}


.card p{
    margin-bottom: 15px;

    font-size: 1.1rem;

    color: #00f2ff;
}


.card button{
    padding: 12px 25px;

    border: none;

    border-radius: 30px;

    background: #00f2ff;

    color: black;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

.card button:hover{
    transform: scale(1.05);

    box-shadow: 0 0 15px #00f2ff;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 15px;
    }
    .nav-links {
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;
    }

    .nav-links li a {
        font-size: 0.8rem;
    }
}

.carrinho{
    background: #222;
    color: white;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.carrinho h2{
    margin-bottom: 15px;
}

.carrinho ul{
    list-style: none;
    padding: 0;
}

.carrinho button{
    background: #00c853;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.carrinho button{
    background: #00c853;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}